@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-5">Controle de despesas (Marco, Leka & Luluca).</h3>
        <div class="row">
 
    <div>
        <img src="https://www.pngmart.com/files/13/High-School-Anime-Couple-PNG-Transparent-Picture.png" alt="Descrição da imagem">
    </div>
</div>
</div>
